= turbo_frame_tag "post#{post.id}commentsModalContent", class: 'modal-content' do
  .modal-header
    %h5.modal-title{ id: "post#{post.id}_commentsModalLabel" }= t('views.post_card.post_comments')
    %button.btn-close{ value: 'Close', type: :button, aria: { label: 'Close' }, data: { bs_dismiss: 'modal' }}
  .modal-body
    .d-flex.flex-column.gap-3
      - if post.comments.any?
        - post.comments.each do |comment|
          = render 'posts/modal_comment', comment: comment
      - else
        .no-comments-msg.text-center= t('views.post_card.no_comments')
      