= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :caption
    = f.text_area :caption
  .field
    = f.label :longitude
    = f.text_field :longitude
  .field
    = f.label :latitude
    = f.text_field :latitude
  .field
    = f.label :allow_comments
    = f.check_box :allow_comments
  .field
    = f.label :show_likes_count
    = f.check_box :show_likes_count
  .field
    = f.label :images
    = f.file_field :images
  .actions
    = f.submit 'Save'
