.d-flex.justify-content-between.liker-cnt
  .d-flex
    = link_to liker, class: 'no-decor', target: '_top' do
      = image_tag liker.profile_picture, class: 'pp-img img-thumbnail rounded-circle'
    .d-flex.flex-column.mx-3.justify-content-center
      %small.fw-bold.username.big= link_to liker.username, liker, class: 'no-decor', target: '_top'
  = link_to root_path, class: 'btn btn-primary no-decor' do
    %small.fw-bold.text-white= t('follow')
