%div.modal-comment-cnt{ id: "post#{comment.post_id}ModalComment#{comment.id}" }
  .d-flex.justify-content-between.modal-comment
    .d-flex
      = link_to comment.user, class: 'no-decor', target: '_top' do
        = render 'common/lazy_img', img: comment.user.profile_picture, class: 'pp-img pp-img-1 img-thumbnail rounded-circle'
      .d-flex.flex-column.mx-3.justify-content-center
        %small.fw-bold.username.big.comment-username= link_to comment.user.username, comment.user, class: 'no-decor', target: '_top'
        %small.comment-body
          = comment.body
        %small.text-muted
          = time_ago_in_words(comment.created_at)
    - if comment.user == current_user
      = button_to comment_path(id: comment.id), method: :delete, class: 'button-no-default btn-delete-comment' do
        %i.fa.fa-times