- comments = post.comments 
= turbo_frame_tag post_comments_id(post), class: 'comments-cnt' do
  - if comments.count > 0 && !@show_modal
    %a.no-decor{ data: { bs_target: "##{post_comments_modal_id(post)}", bs_toggle: 'modal' }, href: '#' }
      %small.text-muted
        .view-all-comments= t('views.post_card.view_all_comments', count: comments.count)
  - comments = comments.last(5) unless @show_modal
  - comments.each do |comment|
    %p.card-text.m-0.top-comment
      %span.fw-bold= link_to comment.user.username, comment.user, class: 'no-decor username big', target: '_top'
      = comment.body