= turbo_frame_tag post_actions_id(post), class: 'post-actions' do
  .d-flex.justify-content-start.align-items-center.gap-1.mb-2
    = button_to toggle_like_path(post_id: post.id), method: :post, class: 'like-btn', id: "##{post_actions_id(post)}-likeBtn" do
      %i{ class: "#{post.liked_by_user?(current_user) ? "fa-solid text-danger" : "fa-regular"} fa-heart fa-xl" }
    - if post.allow_comments? && !@show_modal
      %a.no-decor.show-comments-btn{ data: { bs_target: "##{post_comments_modal_id(post)}", bs_toggle: 'modal' }, href: "#"}
        %i.fa-regular.fa-comment.fa-xl.fa-flip-horizontal.text-dark
  - if current_user == post.user || post.show_likes_count?
    .text-dark.no-decor
      %small.fw-bold.my-1.post-likes{ data: { controller: 'modals', action: 'click->modals#show_likes_modal', bs_target: post_likes_modal_id(post) } }
        = t('views.post_card.likes_x', count: post.likes.count)
      = render 'posts/likers_modal', post: post