%h1 Listing posts

%table
  %thead
    %tr
      %th Caption
      %th Longitude
      %th Latitude
      %th User
      %th Allow comments
      %th Show likes count
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.caption
        %td= post.longitude
        %td= post.latitude
        %td= post.user
        %td= post.allow_comments
        %td= post.show_likes_count
        %td= link_to 'Show', post
        %td= link_to 'Edit', edit_post_path(post)
        %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Post', new_post_path
