.d-flex.justify-content-between.suggestion{ id: suggestion_id(suggestion) }
  .d-flex
    = link_to suggestion, class: 'no-decor' do
      = render 'common/lazy_img', img: suggestion.profile_picture, class: 'pp-img pp-img-1 suggestion-img img-thumbnail rounded-circle'
    .d-flex.flex-column.mx-3
      %small.fw-bold.suggestion-username.username.big
        = link_to suggestion, class: 'no-decor' do
          = suggestion.username
      %small.text-muted.suggestion-reason.username= t('views.suggestions.suggested_by_system')
  = render 'common/follow_state', user: suggestion, content_id: suggestion_id(suggestion), as_text: true