- as_text = local_assigns[:as_text] || false
- content_id = local_assigns[:content_id] || ''
- prfx = (as_text ? 'fw-bold small text' : 'btn')

- if current_user.followings.include?(user)
  = button_to t('unfollow'), unfollow_path(user_id: user.id, content_id: content_id), method: :delete, class: "btn #{prfx}-danger unfollow-btn"
- elsif current_user.waiting_followings.include?(user)
  = button_to t('cancel'), cancel_request_path(user_id: user.id, content_id: content_id), method: :delete, class: "btn #{prfx}-secondary cancel-request-btn"
- elsif current_user == user
- else
  = button_to t('follow'), follow_path(user_id: user.id, content_id: content_id), method: :post, class: "btn #{prfx}-primary follow-btn"