:javascript
  const are_u_sure_trans = "#{j t('are_you_sure')}"
  const no_reverse_trans = "#{j t('views.confirmation_modals.no_reverse')}"
  const yes_delete_trans = "#{j t('views.confirmation_modals.yes_delete')}"
  const cancel_trans = "#{j t('cancel')}"
  const final_confirm_info_trans = "#{j t('views.confirmation_modals.final_confirm_info')}"