%nav#user-navbar.navbar.navbar-expand-lg.bg-light.sticky-top.bg-white.border-bottom
  #user-navbar-container.container-fluid.col-lg-9.col-md-12
    = link_to root_path, class: 'navbar-brand p-0' do
      = image_tag 'logo.png', id: 'logo-img'
    .d-flex.gap-2
      #navbarSupportedContent.collapse.navbar-collapse
        = render 'layouts/navbar/search'
        .navbar-collapse.gap-4.d-flex
          = link_to root_path, class: 'text-dark' do
            %i.fa-solid.fa-house.fa-xl
          %i.fa-brands.fa-facebook-messenger.fa-xl
          %a#create-post.text-dark{type: :button, data: { bs_target: '#postModal', bs_toggle: 'modal' }}
            %i.fa-regular.fa-square-plus.fa-xl
          %i.fa-regular.fa-compass.fa-xl
          = render 'layouts/navbar/follows'
          = render 'layouts/navbar/profile_dropdown'
      %button.navbar-toggler{ type: :button, aria_controls: 'navbarSupportedContent',  |
          aria_expanded: 'false', aria_label: 'Toggle navigation',                       |
          data: { bs_target: '#navbarSupportedContent', bs_toggle: 'collapse' }}
        %span.navbar-toggler-icon

= render 'posts/form_modal', post: Post.new